@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: #bce8f1" dir="ltr">
    <h1>Github search</h1>
    <p class="lead">For searching a repository in github, insert the search word into the search textbox</p>    
</div>


<img src="~/Content/Images/github-search.jpg" alt="..." />


<div class="row">
    <div class="col-md-4">
         <p>
            Made with ASP.NET MVC 5 and Bootstrap
        </p>
 </div>
</div>